<div class="banner pt-5 h-75" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.wallpapersafari.com/33/45/x7E5WA.jpg);">
  <div class="container d-flex flex-column mb-5">
    <h1 class="mb-5"><strong>Choose your next ride</strong>!</h1>
    <div>
   
      <%= link_to "See all vehicles around you!", vehicles_path, class:"btn btn-info" %>
    </div>
  </div>
</div>
<div class="container mt-3">
 <h1>This is our home page!</h1>
 <br>

</div>