.navbar-lewagon {
  justify-content: space-between;
  background: white;
  h1 {
   font-size: 22px;
   font-family: 'Akaya Kanadaka', cursive;
   font-style: italic;
   margin-left: -10px;
   color: rgb(188, 77, 63);
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
