<div class="container text-center">
 <h4><%= vehicle.category %></h4>
 <p>$<%= vehicle.price %></p>
 <%= link_to 'See details', vehicle_path(vehicle), class:"btn btn-ghost px-2 py-1", style:"font-size: 11px;"%>
</div>