<div class="banner pt-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.wallpapersafari.com/33/45/x7E5WA.jpg);">
  <div class="container d-flex justify-content-between align-items-start mb-5">
    <h1 class="mb-5"><strong>youRide</strong>!</h1>
    <%= link_to "Post a vehicle!", new_vehicle_path, class:"btn btn-light" %>
  </div>
</div>

<div class="container mt-3">
<h1>All our vehicles</h1>
<br>
 <ul>
   <% @vehicles.each do |vehicle| %>
   <div class="card d-flex justify-content-center display-inline m-3 p-3" style="width: 18rem;">
     <h3 class="card-title"><%= vehicle.category %></h3>
     <%= link_to "See details", vehicle_path(vehicle), class:"card-link btn btn-light" %>
   </div>
   <% end %>
 </ul>
</div>
