
<div class="container mt-3">
<h1>All our vehicles</h1>
<br>
 <ul>
   <% @vehicles.each do |vehicle| %>
   <div class="card d-flex justify-content-center display-inline m-3 p-3" style="width: 18rem;">
     <h3 class="card-title"><%= vehicle.category %></h3>
     <%= link_to "See details", vehicle_path(vehicle), class:"card-link btn btn-light" %>
   </div>
   <% end %>
 </ul>
</div>
