
<div class="container mt-3">
<h1>All our vehicles</h1>
<br>
<div class="container">
 <div class="row">
   <% @vehicles.each do |vehicle| %>
    <div class="col-6">
    <%= link_to vehicle_path(vehicle) do %>
     <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg')">
       <%= vehicle.category %>
     </div>
  <% end %>
    </div>
   <% end %>
</div>
